<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Notes du patient</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>

<body class="container">
    <h1 class="page-title">Notes de <span
            th:text="${(listNote != null and not #lists.isEmpty(listNote)) ? listNote[0].patientName : note.patientName}"></span>
    </h1>

    <div th:if="${listNote != null and not #lists.isEmpty(listNote)}">
        <table>
            <thead>
                <tr>
                    <th>Notes</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="note : ${listNote}">
                    <td th:text="${note.note}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <p th:if="${listNote == null or #lists.isEmpty(listNote)}">Aucune note disponible pour ce patient.</p>

    <form th:action="@{/notes/add}" method="post" class="form">
        <input type="hidden" name="patId"
            th:value="${(listNote != null and not #lists.isEmpty(listNote)) ? listNote[0].patId : note.patId }">
        <input type="hidden" name="patientName"
            th:value="${(listNote != null and not #lists.isEmpty(listNote)) ? listNote[0].patientName : note.patientName }">

        <label for="note">Nouvelle note :</label>
        <input type="text" id="note" name="note" required>

        <button type="submit" class="btn btn-primary">Ajouter</button>
    </form>

    <div class="button-group">
        <button onclick="location.href='/patient/all'" class="btn">Retour à la liste des patients</button>
        <button
            th:attr="onclick='location.href=\'/risk/' + ${(listNote != null and not #lists.isEmpty(listNote)) ? listNote[0].patId : note.patId } + '\''"
            class="btn">Voir les risques</button>
    </div>
</body>

</html>