<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Liste des Patients</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>

<body class="container">
    <h1 class="page-title">Liste des Patients</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Date de Naissance</th>
                <th>Genre</th>
                <th>Adresse</th>
                <th>Téléphone</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="patient : ${patients}">
                <td th:text="${patient.id}"></td>
                <td th:text="${patient.name}"></td>
                <td th:text="${patient.lastname}"></td>
                <td th:text="${patient.birthdate}"></td>
                <td th:text="${patient.gender}"></td>
                <td th:text="${patient.adress}"></td>
                <td th:text="${patient.phone}"></td>
                <td>
                    <a th:href="@{/patient/update/{id}(id=${patient.id})}">Modifier ou supprimer</a>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="button-group">
        <button th:onclick="location.href='/add'" class="btn btn-primary">Ajouter un patient</button>
        <button th:onclick="location.href='/'" class="btn btn-secondary">Retour à la page d'accueil</button>
    </div>
</body>

</html>
